body{
    font-family: 'Montserrat';
}

h1 { 
    font-family: 'Montserrat-Black';  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}


/* Title section */

#title{
    background-color: #ff4c68;
    color: #fff;
    height: auto;
}

#title .btn { 
    margin: 5% 3% 5% 0;
    padding: 13px;
}

.img-phone{
    transform: rotate(25deg);
    width: 60%;
}

.container-fluid{
    padding: 3% 15%;
}


/* Navbar section */

.navbar{
    margin: 0 auto 3.5rem auto;
}

.navbar-brand{
    font-size:2.5rem;
    font-family: 'Ubuntu';
}

.nav-link{
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* Features Section */

#features{
    margin: 9% auto;
    text-align: center;
}

#features h3{
    font-size: 2.0rem;
    font-family:'Montserrat-Bold';
}

#features p {
    color: #8f8f8f;
}

#features .fa{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1.4rem;
}

#features .fa:hover{
    color: #ff4c68;
}


/* Testimonials */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials h2{
    font-family: 'Montserrat-Bold';
    font-size: 3.0rem;
    line-height: 1.5;
}


#testimonials img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img{
    width: 12%;
    margin: 20px 20px 50px; /*top-right,left-bottom*/
}
